{% extends 'index.html' %}

{% block content %}
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">Ошибка загрузки файла</span>
                    <div class="mb-4 lead">Файл не загружен. </div>
                    <a href="/" class="btn btn-link">Вернуться к отправке файла</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}