<div class="container">
{#    <header class="d-flex justify-content-center py-3 border-bottom">#}
{#        <ul class="nav nav-pills">#}
{#            <li class="nav-item"><a href="/form" class="nav-link active">Отправит</a></li>#}
{#            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>#}
{#        </ul>#}
{#    </header>#}

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="/static/out-icon.svg" alt="" style="width: 45px; margin-right: 10px">
            <span class="fs-4">Диагностика нарушений дыхания</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/form" class="nav-link active" aria-current="page">Проверить пациента</a></li>
            <li class="nav-item"><a href="/instruction" class="nav-link">Инструкция</a></li>
        </ul>
    </header>
</div>