{% extends 'index.html' %}


{% block content %}
    <style>
        .main-container{
            width: 70%;
            margin: 20px auto;
        }
        .card {
            margin-bottom: 10px;
            font-size: 20px;
            transition: 0.15s;
        }
        .card:hover{
            box-shadow: 4px 4px 8px var(--bs-nav-pills-link-active-bg);
        }
    </style>
    <div class="main-container">
        <div class="card">
            <div class="card-body">
                Наше решение представляет собой веб-приложение и обученную нейросетевую модель для распознавания
                нарушения
                дыхания во время сна.
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Мы использовали современные инструменты и последние достижения в области машинного обучения, что
                гарантирует
                долгосрочную поддержку реализованного проекта.
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Разработанный программный продукт способен с высокой точностью и скоростью диагностировать отклонения от
                нормы у людей во время сна при минимальном количестве данных в отличие от подобных решений.
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Вы можете спросить: «Как ваше решение помогает простым людям?». Всё просто – наше приложение позволяет
                людям
                с нарушением сна вовремя заметить проблемы, а специалистам ускорить процесс и точность результатов
                диагностики, уменьшив количество анализов.
            </div>
        </div>
    </div>

{% endblock %}